{
  "arrowParens": "always",
  "plugins": ["prettier-plugin-tailwindcss"],
  "printWidth": 80,
  "singleQuote": true,
  "tailwindConfig": "./tailwind.config.ts",
  "tailwindFunctions": ["classNames", "cn", "cva"],
  "trailingComma": "es5"
}
